:root {
}

.navBarContainer {
    height: 9vh;
    /*border: 1px blue solid;*/
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBarLogo {
    /*border: 1px red dashed;*/
    margin: 2vh auto 2vh 2vw;
}
.navBarTextLogo {
    /*border: 2px green solid;*/
    margin: 2vh auto 2vh auto;
}
.navBarOptionsContainer {
    /*border: 1px orange dashed;*/
    display: flex;
    flex-direction: row;
    margin: 2vh 2vw 2vh 0;
}
.navBarOption {
    margin-right: 2vw;
}
.navBarHamburger {
    margin: 1vh 2vw 1vw auto;
}
.bodyContainer {
    /*border: 1px #0000ff solid;*/
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.bodyLeft {
    flex: 1;
}
.bodyRight {
    flex: 1;
}
/*laptop*/
@media only screen and (min-width: 769px) {
    .navBarHamburger {
        display: none;
    }
}
/*ipad*/
@media only screen and (max-width: 768px) {
    .navBarOptionsContainer {
        display: none;
    }
}
/*mobile*/
@media only screen and (max-width: 640px) {
}



